@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 192, 203, 0.834);
  font-family: 'roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.weather {
  border: 1px solid rgb(255, 152, 169);
  border-radius: 20px;
  background-color: #ff8ba0;
  padding: 20px 20px 20px 20px;
}

.weather .title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  background-color: pink;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #eef;
  text-transform: uppercase;
}

.weather form input {
  font-family: inherit;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 10px 20px;
  background-color: pink;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.weather form input::placeholder {
  color: #fff;
}

.weather form input:focus {
  outline: none;
}

.weather form .getweather {
  margin-left: 10px;
  cursor: pointer;
  padding: 15px 15px;
  border: 1px solid pink;
  color: #eee;
  text-transform: uppercase;
  border-radius: 50%; 
  background-color: pink;
}

.weather form .getweather:hover {
  transform: scale(1.02);
}

.weather form .getweather:active {
  transform: translateY(4%);
}

.displayweather {
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  color: #eff;
}

.displayweather .maincard {
  background-color: rgba(255, 152, 169, 0.8);
  padding: 10px 0;
  border-radius: 40px;
}

.displayweather .maincard .cardtitle {
  margin-top: -2px;
}

.weatherdetails {
  background-color: rgba(255, 152, 169, 0.8);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px;
  border: none;
  border-radius: 40px;
  margin-top: 20px;
  text-align: left;
  color: #eff;
}

.weatherdetails span {
  margin-left: 30px; 
}


.weather-description {
  text-transform: capitalize;
}
